# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.aps

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# Build logs
*.log

# NuGet
packages/
*.nupkg

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE
.vscode/

# Archives
*.zip
